@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal .875rem/1 fontello;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fa-group:before { content: '\e800'; } /* '' */
.fa-search:before { content: '\e801'; } /* '' */
.fa-folder:before { content: '\e802'; } /* '' */
.fa-th-list:before { content: '\e803'; } /* '' */
.fa-check-circle:before { content: '\e804'; } /* '' */
.fa-cog:before { content: '\e805'; } /* '' */
.fa-clock-o:before { content: '\e806'; } /* '' */
.fa-refresh:before { content: '\e807'; } /* '' */
.fa-info-circle:before { content: '\e808'; } /* '' */
.fa-sign-out:before { content: '\e809'; } /* '' */
.fa-chevron-left:before { content: '\e80a'; } /* '' */
.fa-download:before { content: '\e80b'; } /* '' */
.fa-plus:before { content: '\e80c'; } /* '' */
.fa-tag:before { content: '\e80d'; } /* '' */
.fa-times-circle:before { content: '\e80e'; } /* '' */
.fa-check:before { content: '\e80f'; } /* '' */
.fa-times:before { content: '\e810'; } /* '' */
.fa-question-circle:before { content: '\e811'; } /* '' */
.fa-user-secret-1:before { content: '\e812'; } /* '' */
.fa-flag:before { content: '\e813'; } /* '' */
.fa-user:before { content: '\e814'; } /* '' */
.fa-upload:before { content: '\e815'; } /* '' */
.fa-key:before { content: '\e816'; } /* '' */
.fa-pencil:before { content: '\e817'; } /* '' */
.fa-file-o:before { content: '\e818'; } /* '' */
.fa-check-1:before { content: '\e819'; } /* '' */
.fa-wrench:before { content: '\e81a'; } /* '' */
.fa-chevron-right:before { content: '\e81b'; } /* '' */
.fa-tools:before { content: '\e81c'; } /* '' */
.fa-clipboard:before { content: '\e81d'; } /* '' */
.fa-wait-spin:before { content: '\e834'; } /* '' */
.fa-crown:before { content: '\e844'; } /* '' */
.fa-check-empty:before { content: '\f096'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-folder-o:before { content: '\f114'; } /* '' */
.fa-code-fork:before { content: '\f126'; } /* '' */
.fa-calendar-o:before { content: '\f133'; } /* '' */
.fa-box:before { content: '\f187'; } /* '' */
.fa-file-code:before { content: '\f1c9'; } /* '' */
.fa-share-alt:before { content: '\f1e0'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-secret:before { content: '\f21b'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */
.fa-clone:before { content: '\f24d'; } /* '' */
.fa-calendar-check-o:before { content: '\f274'; } /* '' */
